@use "../abstract-index" as *;
.hero__cirle-text{
	animation: rextrotate 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rextrotate {
	from {
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	to {
		transform: rotate(360deg);
	}
	
}

