@font-face {
    font-family: 'SFMono';
    src: local('SFMono Regular'), local('SFMono-Regular'),
        url('subset-SFMono-Regular.woff2') format('woff2'),
        url('subset-SFMono-Regular.woff') format('woff'),
        url('subset-SFMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

