/* здесь используйте глобальные переменные */
$backg: #404040;
$cultured: #f5f5f5;



$blue-color:#41A4DF;
$deep-blue-color:#297EE2;

$dark-color:#0D0D12;
$light-dark-color:#1A1A1A;
$dark-40-color:#11111166;
$dark-40-color:#111111cc;

$white-color:#FFFFFF;
$white-05-color:rgba(255, 255, 255, 0.05);
$white-24-color:rgba(255, 255, 255, 0.24);
$white-60-color:rgba(255, 255, 255, 0.6);
$white-80-color:rgba(255, 255, 255, 0.8);



$blue: #41a4df;
$dark-blue: #232328;
$deep-blue: #287de2;
$blue_12: rgba(65, 164, 223, 0.12);
$blue_16: rgba(65, 164, 223, 0.16);


$dark: #0d0d12;
$light-dark: #191919;
$dark-40: #11111166;
$dark-80: #111111cc;

$white: #ffffff;
$white-5: #ffffff1a;
$white-24: #ffffff33;
$white-60: #ffffff99;
$white-80: #ffffffcc;

$bg-light: var(--feature-bg);
// $bg-dark: var(--feature-bg);

$red: #db0909cc;


// $gradient-blue: support only solid color;
// $bg-dark_border: support only solid color;
// $bg-pink: support only solid color;
// $bg-yellow: support only solid color;
// $bg-blue: support only solid color;
// $bg-purple: support only solid color;
// $bg-gray: support only solid color;


/*text style*/ 

  


