// Golos Text

@font-face {
font-family: 'Golos Text';
src: local('Golos Text Medium'), local('GolosText-Medium'),
	url('../../fonts/GolosText-Medium.woff2') format('woff2'),
	url('../../fonts/GolosText-Medium.woff') format('woff'),
	url('../../fonts/GolosText-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
font-family: 'Golos Text';
src: local('Golos Text Bold'), local('GolosText-Bold'),
	url('../../fonts/GolosText-Bold.woff2') format('woff2'),
	url('../../fonts/GolosText-Bold.woff') format('woff'),
	url('../../fonts/GolosText-Bold.ttf') format('truetype');
	font-weight: bold;111
	font-style: normal;
	font-display: swap;
}

@font-face {
font-family: 'Golos Text';
src: local('Golos Text Regular'), local('GolosText-Regular'),
	url('../../fonts/GolosText-Regular.woff2') format('woff2'),
	url('../../fonts/GolosText-Regular.woff') format('woff'),
	url('../../fonts/GolosText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
font-family: 'Golos Text';
src: local('Golos Text SemiBold'), local('GolosText-SemiBold'),
	url('../../fonts/GolosText-SemiBold.woff2') format('woff2'),
	url('../../fonts/GolosText-SemiBold.woff') format('woff'),
	url('../../fonts/GolosText-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
 

// Merriweather
@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather Regular'), local('Merriweather-Regular'),
	url('../../fonts/Merriweather-Regular.woff2') format('woff2'),
	url('../../fonts/Merriweather-Regular.woff') format('woff'),
	url('../../fonts/Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
 
@font-face {
font-family: 'Merriweather';
src: local('Merriweather Bold'), local('Merriweather-Bold'),
	url('../../fonts/Merriweather-Bold.woff2') format('woff2'),
	url('../../fonts/Merriweather-Bold.woff') format('woff'),
	url('../../fonts/Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
 
 
